html,body
{
	height: 100%;
	overflow-x: hidden;
	font-family: calibri;
}
.bg
{
	height: 100%;
	background: url(../images/landing-bg-3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-overlayer
{
	background-color: rgba(1,111,193,0.95);
	height: 100%;
	padding: 50px;
}
.bg-overlayer .dropdown-toggle
{
	background-color: transparent;
	border: 2px solid white;
	color: white;
	border-radius:2px;
	-webkit-transition:all 0.5s;
	height:40px;
	width: 40px;
	z-index: 3;
}
.bg-overlayer .dropdown-toggle:hover
{
	color: rgb(17,137,135);
	background-color: white;
}
.bg-overlayer .dropdown-toggle:focus
{
	outline: none;
}
.bg-overlayer .dropdown-menu
{
	margin-top: 20px;
}
.content h1
{
	font-family: 'Passion One', cursive;
	margin-top: 60px;
	font-size: 70px;
	margin-left: 20%;
	color: white;
}
.content .row .cool-sm-6
{
	padding-left: 20%;
}
.content .row .col-sm-6 p
{
	margin-left: 20%;
	color: #34403A;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 13px;
	font-family: 'Prompt', sans-serif;
}
.content .row .col-sm-6 p a
{
	color: #08415C;
	text-decoration: none;
}
.btn-xl
{
	border: 2px solid #F8333C;
	background-color:#F8333C;
	border-radius: 50px;
	height: 50px;
	width: 200px;
	color: white;
	font-size: 17px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20%;
	-webkit-transition:all 0.5s;
}
.btn-xl:hover
{
	background-color: transparent;
}
.btn-xl:focus
{
	outline: none;
}
.btn-xl-2
{
	border: 2px solid #00487C;
	background-color:transparent;
	border-radius: 50px;
	height: 50px;
	width: 200px;
	color: white;
	font-size: 17px;
	margin-left:20%;
	display: inline-block;
	margin-top: 20px;
	-webkit-transition:all 0.5s;
}
.btn-xl-2:hover
{
	background-color: #FFBA08;
}
.btn-xl-2:focus
{
	outline: none;
}
.section_2
{
	padding:50px;
	padding-left: 0px;
	padding-bottom: 20px;
}
.section_2 .row .col-sm-7
{
	padding-top: 60px;
}
.section_2 .row .col-sm-5
{
	padding-top: 30px;
}
.section_2 .row .col-sm-5 h1
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 80px;
}
.section_2  .row .col-sm-5 p
{
	color: #545454;
	font-size: 15px;
	line-height: 20px;
}
.section_2 .row .col-sm-5 p h4
{
	font-weight:bolder;
	font-family: 'Passion One', cursive;
	display: inline;
	height: 40px;
}
.bullet
{
	display: inline-block;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color:#35A7FF;
	padding: 10px;
	padding-left: 15px;
	color: white;
	font-weight: bolder;
}
.details
{
	margin-top: 20px;
	margin-bottom: 30px;
}
/*############################################################################################*/
.tags
{
	background-color: #2D3047;
	height: 100%;
	position: fixed;
	padding: 10px;
	color: white;
}
.tags h2
{
	font-size: 20px;
	margin-left: 10px;
	background-color:#25283B;
	padding: 10px;
	border-radius: 50px;
	padding-left: 20px;
}
.menu
{
	list-style: none;
	margin-left: -30px;
	margin-top: 50px;
}
.menu li
{
	margin-top: 10px;
	font-size: 13px;
	word-spacing: 5px;
	letter-spacing:2px;
	background-color: #25283B;
	border-radius: 50px;
	padding: 5px;
	padding-left: 15px;
}
.search-in
{
	width: 85%;
	margin-left: 10px;
	display: inline;
	background-color: #25283B;
	border: 0px;
	border-radius: 50px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}
.search-btn
{
	display: inline;
	background-color: #25283B;
	border: 0px;
	border-radius: 50px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	height: 30px;
	padding: 5px;
	margin-left: -10px;
}
#search ::-webkit-input-placeholder
{
	font-family: 'Prompt', sans-serif;
	color: white;
	font-size: 15px;
}
/*#############################################################################################*/
.stories
{
	padding: 8px;
	background-color:#F0F0F0;
	min-height: 100%;
	padding-bottom: 10px;
}
.stories h1
{
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
}
.stories h4
{
	font-weight: bolder;
	color:#696969;
}
.stories h5
{
	font-size: 12px;
	font-weight: bold;
}
.icon
{
	height: 50px;
}
.post
{
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
.txt-lg
{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 50px;
	max-height: 300px;
	min-height: 50px;
	padding: 10px;
	font-size: 13px;
	margin-top: 10px;
}
.txt-sml
{
	height: 30px;
	width: 100px;
	margin-top: 10px;
	padding: 10px;
}
.submit-btn
{
	margin-top: 10px;
	border: 0px;
	height: 30px;
	width: 100px;
	background-color: #2D3047;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}
.timeline
{
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
}
.requests
{
	padding-left: 10px;
}
.requests h1
{
	font-weight: bolder;
	color: #383838;
}
.budget-display
{
	background-color: #D9D9D9;
	padding: 7px;
	font-weight: bolder;
	margin-top: 20px;
	width: 100px;
	text-align: center;

}
.flag
{
	border: 2px solid #D7263D;
	background-color: transparent;
	border-radius: 50px;
	height: 35px;
	width: auto;
	padding: 1px;
	color: #D7263D;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	-webkit-transition:all 0.25s;
}
.flag:hover
{
	background-color: #D7263D;
	color: white;
}
.money
{
	border: 2px solid #FFC125;
	background-color: transparent;
	border-radius: 50px;
	height: 35px;
	width: auto;
	padding: 5px;
	color: #FFC125;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}
/*##############################################################################################################*/
.head
{
	background-color: #55828B;
	padding: 5px;
	height:60px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.head .icon
{
	margin-top: 0px;
}
.chat-option
{
	float: right;
	background-color: #55828B;
	height: 30px;
	width: 30px;
	border: 0px;
	margin-top: 10px;
}
.message-container
{
	height: 77%;
	background-image: url(../images/chat-bg.jpg);
	background-size: auto 80%;
	border: 1px solid #C9C9C9;
}
.attachments
{
	background-color: #55828B;
	height: 30px;
}
.attachments button
{
	border: 0px;
	height: 30px;
	background-color: transparent;
	color: white;
	margin-left: 20px;
}
.attachments button:focus
{
	outline: none;
}
.input
{
	border:1px solid #C9C9C9;
	background-color:white;
	height: 61px;
	border-bottom: none;
	padding: 10px;
}
.message-input-box
{
	width: 80%;
	border: 0px;
	height: 100%;
	font-size: 15px;
	background-color: transparent;
	border-bottom: 2px solid #55828B;
}
.message-input-box:focus
{
	outline: none;
}
.message-send
{
	color: #55828B;
	font-size: 35px;
	border: 0px;
	background-color: transparent;
}
.msg-left font
{
	background-color: #44AF69;
	padding: 10px;
	color: white;
	border-radius: 50px;
	max-width: 80%;
	margin-top: 20px;
}
.msg-left
{
	margin-top: 20px;
	margin-left: 10px;
}
/*##########################################################################################################*/
.contacts
{
	padding:10px;
	padding-top: 0px;
}
.contacts h3
{
	font-size: 15px;
	font-weight: bolder;
	color: #575757;
	word-spacing: 10px;
}
.contact-list .col-sm-3
{
	text-align: center;
}
.contact-icon
{
	height: 30px;
	width: 30px;
	background-color: #E16171;
	border-radius: 50%;
	padding: 7px;
	color: white;
}
.name
{
	font-weight: bolder;
	color: #575757;
	margin-left:-15px;
	margin-top: -3px;
}
.email
{
	font-weight: bold;
	font-size: 12px;
	margin-top: -9px;
	margin-left: -15px;
	color: #8A8A8A;
}
/*#########################################################################################*/
.login
{
	height: 100%;
}
.box-container
{
	background-color: #2D3047;
	height: 100%;
	text-align: center;
	padding:50px;
	padding-top: 80px;
	color: white;
}
.box-container h1
{
	font-family: 'Josefin Sans', sans-serif;
}
.txt-sml-2
{
	height: 50px;
	width: 60%;
	margin-top: 30px;
	border: 2px solid #25283B;
	background-color: #25283B;
	color: white;
	border-radius: 50px;
	font-size: 15px;
	padding: 10px;
	padding-left: 20px;
	font-weight: bolder;
	-webkit-transition:all 0.5s;
}
.txt-sml-2:focus
{
	outline: none;
	background-color:rgba(255,255,255,1);
	color: #595959;
}
.txt-sml:hover
{
	border: 2px solid #25283B;
	background-color:rgba(255,255,255,1);
	color: #595959;
}
.btn-sml-2
{
	height: 40px;
	border: 0px;
	background-color: white;
	width: 30%;
	color: #595959;
	font-weight: bolder;
	margin-top: 30px;
	border-radius: 2px;
}
.btn-sml-2:focus
{
	outline: none;
}
.box-container  a
{
	color: white;
}
.box-container font
{
	margin-right: 10px;
	margin-left: 10px;
}
.box-container-2, .box-container-4
{
	text-align: center;
	padding: 50px;

}
.logo-lg
{
	height: 150px;
}
.box-container-2 h1 , .box-container-4 h1
{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 5px;
	word-spacing: 10px;
}
.box-container-2 p
{
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 30px;
	font-size: 19px;
	line-height: 32px;
	letter-spacing: 1.5px;
	word-spacing: 7px;
}
/*####################################################################################*/
.box-container-3
{
	background-color: #2D3047;
	height: 100%;
	color: white;
	padding: 50px;
	text-align: center;
	padding-top: 100px;
}
.box-container-3 h1
{
	font-family: 'Josefin Sans', sans-serif;
}
.box-container-3 p
{
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 30px;
	letter-spacing: 1px;
	word-spacing: 3px;
}
.box-container-3 .btn-lg
{
	height: 50px;
	width: 300px;
	margin-top: 40px;
	border: 0px;
	background-color: #25283B;
	border-radius: 50px;
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}
.box-container-3 .btn-lg:focus
{
	outline: none;
}
.box-container-4
{
	padding-right: 100px;
	padding-left: 100px;
}
.startup
{
	height: 200px;
	float: left;
}
.freelancer
{
	height: 200px;
	float: right;
}
.specialize
{
	padding: 25px;
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;

}
.specialize font
{
	color: #66CD00;
	font-weight: bold;
}
.link-down
{
	height: 50px;
	margin-top: 80px;
	width: 30px;
	border: 0px;
	background-color:#5CACEE;
	border-radius: 50px;
	color: white;
	-webkit-animation-name:updown;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
}
@keyframes updown
{
	0%{margin-top: 80px;}
	50%{margin-top: 60px;}
	100%{margin-top: 80px;}
}
.link-down:focus
{
	outline: none;
}
.hidden
{
	display: none;
}
.error
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
.success
{
	color: #006400;
	font-weight: bold;
	text-decoration: underline;
}
.center
{
	text-align: center !important;
}
.forgot-icon
{
	height: 150px;
}
.forgot-pass
{
	font-family: 'Passion One', cursive;
	color: #404040;
	letter-spacing: 1.5px;
	word-spacing: 5px;
	font-size: 50px;
	margin-top: 100px;
}
.forgot-pass-sub
{
	font-weight: bold;
	color: #ADADAD;
}
.txt-sml-3
{
	height: 40px;
	width: 300px;
	margin-top: 30px;
	border: 2px solid #DBDBDB;
	border-radius: 5px;
	padding: 10px;
}
.txt-sml-3:focus
{
	outline: none;
}
.link
{
	font-size: 12px;
	font-family: 'Josefin Sans', sans-serif;
}
.btn-sml-3
{
	height: 40px;
	padding: 10px;
	width:200px;
	background-color: #2D3047;
	color: white;
	border: 0px;
	border-radius: 5px;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-transition:all 0.5s;
}
.btn-sml-3:hover
{
	background-color: #25283B;
}
.btn-sml-3:focus
{
	outline: none;
}
.bg-cont
{
	height: 100%;
}
.complete-reg
{
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
}
.overlayer
{
	width: 100%;
	height: 100%;
	background-color: rgba(58,67,91,0.95);
	padding-top: 80px;
	padding-right: 0px;
	padding-left: 0px;
}
.main-cont
{
	width: 65%;
	background-color: white;
	min-height:100px;
	margin: auto;
	border-radius: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.overlayer h1
{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 25px;
	margin-bottom: 20px;
}
.over-head
{
	width: 65%;
	background-color:#30374D;
	height:70px;
	margin: auto;
	border-radius: 5px;
	padding-top:10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.main-cont h4
{
	font-family: 'Josefin Sans', sans-serif;
}
.main-cont p
{
	color: #5E5E5E;
}
.error-bg
{
	height: 100%;
	width: 100%;
	background: url(../images/world.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.error-over-layer
{
	height: 100%;
	width: 100%;
	background-color:rgba(58,67,91,0.95);
	color: white;
	padding-top: 120px;
}
.error-over-layer h1
{
	margin-top: 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
}
.error-over-layer div
{
	margin: auto;
	width: 50%;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	font-size: 17px;
}
.error-over-layer button
{
	height: 40px;
	width: 150px;
	color: black;
	background-color: rgba(255,255,255,0.9);
	border:0px;
	margin-top: 30px;
	border-radius: 5px;
	-webkit-transition:0.5s;
	margin-left: 20px;
}
.error-over-layer button:hover
{
	background-color: rgba(255,255,255,1);
}
/*################################################################################################################################*/
/*New CSS Home*/
.logo
{
	max-width: 50px;
	height: auto;

}
.header
{
	padding:2%;
	margin-left: 50px !important;
	margin-right: 50px !important;

}
.search-container {
  float: right;
}
.nav_custom{
	background-color: #2D3047 !important;
}
/*.logobrand{

	width: 220px !important;

}

.navbar-nav{

	width: 1100px !important;
}
.navbar-nav>li {
    float: left;
    width: 220px !important;
    border-right: 1px solid #d3d3d345;
}
.navbar-nav>li>a{

	padding-top: 15px;
    padding-bottom: 15px;
    text-align: center !important;
}
}*/
@media screen and (min-width: 1200px){

    .navbar-nav {
    float: left;
    margin: 0;
    width: 1000px !important;
	}

	.navbar-nav>li {
    float: left;
    width: 200px !important;
    text-align: center !important;
}
@media screen and (min-width: 768px){

    .navbar-nav {
    float: left;
    margin: 0;
    width: 1100px !important;
	}

	.navbar-nav>li {
    float: left;
    width: 183.33333px !important;
    text-align: center !important;
	}
}
.maincont
{
	margin-left: 50px !important;
	margin-right:50px !important;

}
.profiledata
{
	padding:20px;
	box-shadow: 1px 1px 1px 1px #ddd;
	background: #2D3047;
	color: white;
}
.profiledata h2
{
	font-size: 20px;
	margin-left: 10px;
	background-color: #25283B;
	padding: 10px;
	padding-left: 10px;
	border-radius: 50px;
	padding-left: 20px;
}
.services_suggestions
{
	padding: 10px;
	box-shadow: 1px 1px 1px 1px #ddd;
}
.services_suggestions h2
{
	font-size: 17px;
	font-weight: bold;

}
.content
{
	padding: 20px;
	box-shadow: 1px 1px 1px 1px #ddd;
}
.menu_recom
{
	list-style: none;
	margin-left: -30px;
	margin-top: 50px;
}
.menu_recom li
{
	margin-top: 10px;
	font-size: 13px;
	letter-spacing:2px;

}
